.header {
  padding: 20px 300px;
  display: flex;
  align-items: center;
  justify-content: center;


 &__block {
  padding: 10px 20px;
  width: max-content;
  
 }


  &__link {
    padding: 10px 15px;
    background-color: rgb(197, 52, 216);
    border-radius: 30px;
    text-transform: uppercase;
    color: rgb(216, 170, 232);
    border: 4px solid rgb(197, 52, 216);

    &--active {
      border: 4px solid rgb(41, 180, 255);
      color: rgb(234, 217, 240);;
    }
  }
}